
#heading{
    font-weight: bold;
    text-align: center;
}
#text{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}
#btn{
    text-align: center;
    margin-right: 180px;
}